services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - ./custom_components:/config/custom_components
    restart: unless-stopped
    privileged: true
    network_mode: host
